
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar -start here */
.navbar-img  {
    text-align: left;
}

.navbar-heading {
text-align: right;}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a {
    background-color: transparent;
}
/* navbar -ends here */
.prifiles {
    padding: 120px 10px;
    position: relative;
    text-align: center;
    transition:transform 3s ;
   }
   
   
   .top-weather {
       width: 150px;
       height: 150px;
       border-radius: 40%;
       position: absolute;
       right: 100px;
       top: 20px;
       transition: transform 3s width  border-radius 10s;
   }
   
   .top-weather:hover{
       transform: rotate(300deg);
       width: 200px;
       border-radius: 20%;
     
   }
   
   .profile-dise h1 {
        
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
   }
   
   .profile-dise p{
       color:gray ;
       margin-bottom: 40px;
   }
   
   .bottom-weather-photo{
       width: 150px;
       height: 150px;
        border-radius: 40%;
       position: absolute;
       left: 120px;
       top: 380px;
      transition:  width 4s transform 3s border-radius 5s;
   }
   
   .bottom-weather-photo:hover {
       width: 200px;
       border-radius:20%;
       
   }

   .profile-dise p{
    color:gray ;
    margin-bottom: auto;
}
